@use '../../styles/partials/breakpoints' as *;

.video-section {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center; 
}
.video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
   
    &__source {
        width: 100%;
        max-width: 80rem;
        height: 100%;
        max-height: 45vw;
        object-fit: contain;
        
        @include tablet {
            width: 90%;
        }

        @include desktop {
            height: 45rem;
        }
        

    }

}
