//Primary
$Primary-Text: #323232;
$Button-Header-Blue: #0095FF;
$Secondary-Text: #AFAFAF;
$White: #FFF;

//Secondary
$VideoPlayer-Components: #000;
$Button-Hover: #0065AD;
$Divider: #E1E1E1;
$Form-BG: #FAFAFA;