@font-face {
    font-family: 'Avenir', sans-serif;
    src: url('../../assets/fonts/AvenirNextLTPro-Regular.otf') format('otf'),
         url('../../assets/fonts/Alternative\ files/AvenirNextLTPro.ttf') format('ttf');
    font-weight: 400; 
}

@font-face {
    font-family: 'Avenir' sans-serif;
    src: url('../../assets/fonts/AvenirNextLTPro-Bold.otf') format('otf'),
         url('../../assets/fonts/Alternative\ files/AvenirNextLTProBold.ttf') format('ttf');
    font-weight: 700; 
}

