@use './partials/fonts' as *;
@use './partials/colours' as *;
@use './partials/fontsizes' as *;
@use './partials/breakpoints' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Avenir", sans-serif;
}

.button {
    @include mobile-labels-buttons;
    font-weight: 700;
    width: 100%;
    height: 2.5rem;
    border-radius: .25rem;
    border: 0rem;
    background-color: $BrainFlix-Blue;
    color: $White;
   
    text-transform: uppercase;

    &:hover {
        background-color: $BrainFlix-DarkBlue;
    }

    @include tablet {
        width: 10rem;
    }
}

.desktop {
    &__wrapper {
        display: flex;
        flex-direction: column;

        @include desktop {
            flex-direction: row;
        }
    }

    &__section-left {
        width: 100%;

        @include desktop {
            width: 80%;
        }
    }
}