.comment {

    &__form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__input {
        resize: none;
    }
    &__label {
        display: flex;
        flex-direction: column;
    }
}