@use '../../styles/partials/colours' as *;
@use '../../styles/partials/breakpoints' as *;

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    // margin-bottom: 0.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $Mercury;

    @include tablet {
        flex-direction: row;
        margin-bottom: 0;
        padding: 0.5rem 2rem;
    }

    @include desktop {
        padding: 0.5rem 3.5rem;
    }

    @include desktop {
        padding: 0.5rem 7rem;
    }
    .user-logo {
        height: 2.5rem;
    
        @include tablet {
            order: 3;
        }
    }
    
    &__logo {
        width: 7.5rem;
        padding: 0.5rem 0;
    }

    &__right-nav {
        display: flex;
        align-items: center;
        flex-flow: row wrap;
        width: calc(100% - 2rem);
        justify-content: space-between;

        @include tablet {
            justify-content: flex-end;
        }
    }

    &__search-bar {
        display: flex;
        background-image: url(../../assets/images/Icons/search.svg);
        background-repeat: no-repeat;
        background-position: 0.5rem 50%;
        background-size: 1rem;
        border: 1px solid $Mercury;
        background-color: $Alabaster;
        padding-left: 2rem;
        border-radius: .25rem;
        width: 80%;
        height: 2.5rem;
        
        &::placeholder {
            color: black;
        }

        @include tablet {
            width: 15rem;
        }
    }

    &__upload-button {
        background-image: url(../../assets/images/Icons/upload.svg);
        background-repeat: no-repeat;
        background-position: 0.5rem 50%;
        background-size: 1.25rem;   
        margin-top: 1rem;
        text-align: center;
        text-decoration: none;
        padding-top: .625rem;

        @include tablet {
            width: 10rem;
            margin-top: 0;
            margin: 0 1rem;
        }
    }
}