@use '../../styles/partials/fontsizes' as *;
@use '../../styles/partials/colours' as *;

.comment {
    &__section {
        display: flex;
        justify-content: center;
        border-bottom: 1px solid $Mercury;
        padding-bottom: 1rem;
        width: 90%;
        margin: 0 auto;

        .user-logo {
            width: 35px;
            height: 35px;
            margin-top: 1rem;
        }
    }

    &__anonymous-box {
        background-color: $Mercury;
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }

    &__icon-box {
        .user-logo {
            height: 35px;
            width: 35px;
        }
    }

    &__text-information {
        width: 100%;
    }

    &__label {
        @include mobile-labels-buttons;
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        padding: 0;
    }

    &__input {
        background-color: #FAFAFA;
        border: 1px solid $Mercury;
        border-radius: .25rem;
        padding: 0.5rem;
        margin-bottom: 1rem;
        resize: none;

        &::placeholder {
            color: black;
        }
    }

    &__banner {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;
    }

    &__card {
        display: flex;
        font-size: .8125rem;
        border-bottom: 1px solid $Mercury;
        width: 90%;
        margin: 0 auto;
        padding: 1rem 0;
    }

    &__name {
        @include mobile-labels-buttons;
        font-weight: bold;
        color: black;
    }
    
    &__count {
        @include mobile-body-copy;
        display: inline-block;
        font-weight: bold;
        padding-bottom: 1rem;
        padding-left: 1rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__avatar {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 1rem;
    }

    &__timestamp {
        color: $Silver;
    }

    &__submit {
        margin: 0 auto;
        background-image: url(../../assets/images/Icons/add_comment.svg);
        background-repeat: no-repeat;
        background-position: 0.5rem 50%;
        background-size: 1.25rem;
    }

}