@use '../../styles/partials/fontsizes' as *;
@use '../../styles/partials/colours' as *;
@use '../../styles/partials/breakpoints' as *;

.comment {
    &__section {
        display: flex;
        justify-content: center;
        border-bottom: .0625rem solid $Mercury;
        padding-bottom: 1rem;
        width: calc(100% - 2rem);
        margin: 0 auto;

        .user-logo {
            width: 2.1875rem;
            height: 2.1875rem;
            margin-top: 1rem;
            background-color: $Mercury;

            @include tablet {
                margin-top: 1.375rem;
            }
        }

        @include tablet {
            width: calc(100% - 6rem);
        }

        @include desktop {
            width: calc(100% - 8rem);
            margin: 0; 
            margin-left: auto;
            border-bottom: 0rem;
        }
    }

    &__anonymous-box {
        background-color: $Mercury;
        width: 2.1875rem;
        height: 2.1875rem;
        border-radius: 50%;
    }

    &__icon-box {
        .user-logo {
            height: 2.1875rem;
            width: 2.1875rem;
            background-color: $Mercury;
        }
    }

    &__text-information {
        width: 100%;
    }

    &__label {
        @include mobile-labels-buttons;
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        padding: 0;
        color: $Silver;

        @include tablet {
            width: 75%;
            margin-right: 1rem;
        }

        @include desktop {
            width: 65%;
            margin-right: 0;
        }
    }

    &__input {
        background-color: #FAFAFA;
        border: .0625rem solid $Mercury;
        border-radius: .25rem;
        padding: 0.5rem;
        margin-bottom: 1rem;
        resize: none;

        @include tablet {
            padding-left: 1rem;
            width: 100%;
            height: 2.5rem;
        }

        &::placeholder {
            color: black;
        }
    }

    &__banner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.5rem;
    }

    &__card {
        display: flex;
        font-size: .8125rem;
        border-bottom: .0625rem solid $Mercury;
        width: calc(100% - 2rem);
        margin: 0 auto;
        padding: 1rem 0;

        @include tablet {
            width: calc(100% - 6rem)
        }

        @include desktop {
            width: calc(100% - 8rem);
            margin: 0;
            margin-left: auto;
            padding: 1.5rem 2rem 1.5rem 0;
            border-bottom: 0rem;
            border-top: .0625rem solid $Mercury;
        }
    }

    &__name {
        @include mobile-labels-buttons;
        font-weight: bold;
        color: black;

        @include tablet {
            @include labels-buttons;
        }
    }
    
    &__count {
        @include mobile-body-copy;
        display: inline-block;
        font-weight: bold;
        padding-bottom: 1rem;
        padding-left: 1rem;

        @include tablet {
            @include body-copy;
            font-weight: bold;
            padding-left: 3rem;
        }

        @include desktop {
            padding-left: 8rem;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 100%;

        @include tablet {
            flex-direction: row;
            align-items: center;
        }
    }

    &__avatar {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 1rem;
    }

    &__timestamp {
        color: $Silver;
    }

    &__submit {
        margin: 0 auto;
        background-image: url(../../assets/images/Icons/add_comment.svg);
        background-repeat: no-repeat;
        background-position: 0.5rem 50%;
        background-size: 1.25rem;

        @include tablet {
            margin: 0;
            margin-left: auto;
            position: relative;
            top: .125rem;
        }

        @include desktop {
            margin-left: 0; 
            margin: 0 auto;
        }
    }

    &__comment-content {
        @include mobile-body-copy;

        @include tablet {
            @include body-copy;
        }
    }

}